/* You can add global styles to this file, and also import other style files */
@config "./../tailwind.config.js";
@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #78a47c;
  --color-secondary: #b1ffc1;
}