<div class="card-body gap-8">
  <div class="division">
    <div class="flex flex-row justify-center">
      <h2 class="card-title">Adicionar Nome de Utilizador</h2>
    </div>

    <form class="flex flex-col gap-2" [formGroup]="usernameForm">
      <label class="input input-bordered flex items-center gap-2" style="padding: 5% 0% 5% 0%">

        <input formControlName="username"
               style="padding: 5% 0% 5% 0%"
               type="text"
               class="grow"
               placeholder="Nome de Utilizador" />
      </label>
      @if (
      getUsername()?.invalid &&
      (getUsername()?.dirty || getUsername()?.touched)
      ) {
      @if (getUsername()?.hasError('required')) {
      <div class="validator-hint text-red-500">
        Este campo é obrigatório!
      </div>
      }
      }

    </form>

    <div class="card-actions justify-center" style="padding: 5% 0% 5% 0%">
      <app-button text="Submeter" (btnClick)="addUser()" />
    </div>
  </div>
</div>

