<div class="flex items-center justify-center min-h-[80vh]">
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body gap-8">
            <div class="flex flex-row justify-center">
                <h2 class="card-title">Recuperar Palavra-Passe</h2>
            </div>

            <form class="flex flex-col gap-2" [formGroup]="passwordForm">
                <label class="input input-bordered flex items-center gap-2">
                    <ng-icon name="heroKey" />
                    <input
                        formControlName="newPassword"
                        type="password"
                        class="grow"
                        placeholder="Nova Palavra-Passe" />
                </label>
                @if(getNewPassword()?.invalid && (getNewPassword()?.dirty || getNewPassword()?.touched)) {
                    @if(getNewPassword()?.hasError('required')) {
                        <div class="validator-hint text-red-500">Este campo é obrigatório!</div>
                    }
                    @else if (getNewPassword()?.hasError('minlength')) {
                        <div class="validator-hint text-red-500">A palavra-passe deve ter pelo menos 8 caracteres.</div>
                    }
                }

                <label class="input input-bordered flex items-center gap-2">
                    <ng-icon name="heroKey" />
                    <input
                        formControlName="confirmPassword"
                        type="password"
                        class="grow"                        
                        placeholder="Confirmar Palavra-Passe" />
                </label>
                @if(getConfirmPassword()?.invalid && (getConfirmPassword()?.dirty || getConfirmPassword()?.touched)) {
                    @if(getConfirmPassword()?.hasError('required')) {
                        <div class="validator-hint text-red-500">Este campo é obrigatório!</div>
                    }
                    @else if (getConfirmPassword()?.hasError('minlength')) {
                        <div class="validator-hint text-red-500">A palavra-passe deve ter pelo menos 8 caracteres.</div>
                    }
                    @else if (getConfirmPassword()?.hasError('matchPasswords')) {
                        <div class="validator-hint text-red-500">As palavras-passe devem ser iguais.</div>
                    }
                }
            </form>

            <div class="card-actions justify-center">
                <app-button text="Submeter" (btnClick)="resetPassword()" />
            </div>
        </div>
    </div>
</div>
