<div class="flex items-center justify-center min-h-[80vh]">
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body gap-6">
            <div class="flex flex-row justify-center">
                <h2 class="card-title">Recuperar Palavra-Passe</h2>
            </div>
            
            <app-text-input placeholder="Nova Palavra-Passe">
                <ng-icon name="heroKey" />
            </app-text-input>

            <app-text-input placeholder="Confirmar Palavra-Passe">
                <ng-icon name="heroKey" />
            </app-text-input>
            
            <div class="card-actions justify-center">
                <app-button text="Submeter" (onClick)="resetPassword()" />
            </div>
        </div>
    </div>
</div>