<!-- DAILY CHALLENGES -->
<section class="max-w-6xl mx-auto mb-16">
    <h2 class="text-2xl font-bold text-center mb-6">Desafios Diários</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      
      <!-- TO COMPLETE -->
      <ul class="list bg-base-100 rounded-box shadow-md">
        <li class="p-4 pb-2 pl-8 text-xs opacity-60 tracking-wide">Para Concluir</li>
      
        @for (challenge of dailyChallenges; track $index) {
          @if (!challenge.wasConcluded) {
            <app-challenge-card
              [title]="challenge.challenge.title"
              [type]="challenge.challenge.type"
              [completed]="false"/>
          }
        }
      </ul>
  
      <!-- COMPLETED -->
      <ul class="list bg-base-100 rounded-box shadow-md">
        <li class="p-4 pb-2 pl-8 text-xs opacity-60 tracking-wide">Concluídos</li>
      
        @for (challenge of dailyChallenges; track $index) {
          @if (challenge.wasConcluded) {
            <app-challenge-card
              [title]="challenge.challenge.title"
              [type]="challenge.challenge.type"
              [completed]="true" />
          }
        }
      </ul>
    </div>
  </section>
  
  <!-- WEEKLY CHALLENGES -->
  <section class="max-w-6xl mx-auto">
    <h2 class="text-2xl font-bold text-center mb-6">Desafios Semanais</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      
      <!-- TO COMPLETE -->
      <ul class="list bg-base-100 rounded-box shadow-md">
        <li class="p-4 pb-2 pl-8 text-xs opacity-60 tracking-wide">Para Concluir</li>
      
        @for (challenge of weeklyChallenges; track $index) {
          @if (!challenge.wasConcluded) {
            <app-challenge-card
              [title]="challenge.challenge.title"
              [type]="challenge.challenge.type"
              [completed]="false"
              [showProgress]="true"/>
          }
        }
      </ul>
  
      <!-- COMPLETED -->
      <ul class="list bg-base-100 rounded-box shadow-md">
        <li class="p-4 pb-2 pl-8 text-xs opacity-60 tracking-wide">Concluídos</li>
      
        @for (challenge of dailyChallenges; track $index) {
          @if (challenge.wasConcluded) {
            <app-challenge-card
              [title]="challenge.challenge.title"
              [type]="challenge.challenge.type"
              [completed]="true" />
          }
        }
      </ul>
    </div>
  </section>
  