<div class="flex items-center justify-center min-h-[80vh]">
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body gap-6">
            <div class="flex flex-row justify-center">
                <h2 class="card-title">Esqueceu a Palavra-Passe?</h2>
            </div>
            
            <app-text-input placeholder="Email">
                <ng-icon name="heroAtSymbol" />
            </app-text-input>
            
            <div class="card-actions justify-center">
                <app-button text="Enviar" (onClick)="sendEmail()" />
            </div>
        </div>
    </div>
</div>