<div class="flex items-center justify-center min-h-[80vh]">
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body">
            <div class="flex flex-row justify-center">
                <h2 class="card-title">Forgot Password!</h2>
            </div>
            
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
</div>