<div class="flex items-center justify-center min-h-[80vh]">
    <div class="card bg-base-100 w-96 shadow-xl">
        <div class="card-body gap-6">
            <div class="flex flex-row justify-center">
                <h2 class="card-title">Esqueceu a Palavra-Passe?</h2>
            </div>

            <form [formGroup]="emailForm">
                <label class="input input-bordered flex items-center gap-2 validator">
                    <ng-icon name="heroAtSymbol" />
                    <input
                        type="text"
                        class="grow"
                        placeholder="Email" 
                        formControlName="email"/>
                </label>
                @if(getEmail()?.invalid && (getEmail()?.dirty || getEmail()?.touched)) {
                    @if(getEmail()?.hasError('required')) {
                        <div class="validator-hint text-red-500">Este campo é obrigatório!</div>
                    }
                    @else if (getEmail()?.hasError('email')) {
                        <div class="validator-hint text-red-500">Introduza um email válido.</div>
                    }
                }
            </form>

            <div class="card-actions justify-center">
                <app-button text="Enviar" (btnClick)="sendEmail()" />
            </div>
        </div>
    </div>
</div>
